@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --sky-blue: #0080ff;
  --redish-red: #d8768c;
  --pale-sky-blue: #92c8ff;
  --greenish-dark: #0d3b4c;
  --yellowish-orange: #f7941e;
  --pale-black: #212724;
  --white: #f9f9f9;
}

body {
  width: 100%;
  margin: 0 auto !important;
  font-family: 'Mulish', sans-serif;
  color: var(--pale-black);
  position: relative;
  overflow-x: hidden;
}

body .background {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: scale(1);
}

h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
}

h2 {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
}

h3 {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

h4 {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  font-weight: 100;
  font-size: 24px;
  line-height: 130%;
}

h5 {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 17px;
  font-weight: 400;
  line-height: 155%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  font-family: 'Mulish', sans-serif;
  color: var(--white);
}

.container {
  width: 100%;
  padding: 0px 8%;
}

/*<-----------------Navbar starts here----------------->*/

.navbar {
  padding-top: 70px;
  height: 100%;
  position: relative;
}

.navbar .navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar .nav-links {
  display: flex;
}

.navbar a {
  padding: 15px;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.01em;
}

.navbar .toggle-button {
  padding: 0px;
  width: 75px;
  height: 40px;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  top: 5%;
  right: 10%;
}

.navbar .toggle-button .bar {
  height: 5px;
  width: 100%;
  background-color: var(--white);
  border-radius: 5px;
}

.navbar .cta-link {
  background-color: var(--redish-red);
  border-radius: 8px;
  border: 4px solid var(--redish-red);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

.navbar .logo {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.01em;
  color: var(--sky-blue);
}

/*<-----------------Hero Section starts here----------------->*/

.hero-section {
  position: relative;
}

.hero-section .hero-flex {
  display: flex;
  justify-content: space-between;
}

.hero-section .container {
  padding-bottom: 180px;
}

.hero-section .hero-left {
  max-width: 40%;
}

.hero-section .hero-left h1 {
  color: var(--sky-blue);
  margin-top: 25%;
}

.hero-section .hero-left p {
  margin: 40px 0px;
}

.hero-section .hero-left .cta {
  border: 5px solid var(--yellowish-orange);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  background-color: var(--yellowish-orange);
  border-radius: 10px;
  padding: 25px 35px;
  /* filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25)); */
  filter: drop-shadow(0px 8px 0px #373031);
}

.hero-section .hero-right {
  align-self: center;
}

.hero-section .hero-right img {
  max-width: 100%;
  margin-top: 15%;
  margin-left: 5%;
  padding-right: 5%;
}

/*<-----------------Feature Section starts here----------------->*/

.feature-section .container {
  margin-bottom: 180px;
}

.feature-section .container .feature-flex {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.feature-section .container .feature-img {
  max-width: 50%;
}

.feature-section .container h2 {
  margin: 180px 0px 70px 0px;
  letter-spacing: 0.05em;
  max-width: 80%;
  color: var(--redish-red);
}

.feature-section .container h3 {
  margin: 2% 0% 2% 0%;
  /* margin: 15px 0px 10px 0px; */
  color: var(--sky-blue);
}

.feature-section .container h4 {
  letter-spacing: 0.25em;
  color: var(--greenish-dark);
}

.feature-img {
  margin-right: 5%;
}

/*<-----------------Benetif Section starts here----------------->*/

.benefit-section {
  padding-top: 120px;
  background: url(src/img/curved-background4.svg) no-repeat;
  background-position: top center;
  position: relative;
}

.benefit-section .container {
  margin-bottom: -10px;
}

.benefit-section .benefit-flex {
  display: flex;
  justify-content: space-between;
}

.benefit-section h2 {
  max-width: 70%;
  color: var(--white);
  margin-bottom: 8%;
}

.benefit-section .benefit-left {
  max-width: 40%;
}

.benefit-section .benefit-left img {
  width: 100%;
}

.benefit-section .benefit-right {
  height: 100%;
  max-width: 60%;
  margin-left: 8%;
  position: relative;
  overflow: hidden;
}

.benefit-section .benefit-right .benefit-slider {
  display: flex;
  margin-bottom: 3%;
}

.benefit-section .benefit-right .benefit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 500px;
  margin-right: 5%;
  padding: 3% 2%;
  border-radius: 100px;
  background-color: var(--sky-blue);
  filter: drop-shadow(10px 15px 0px #4071a1);
}

.benefit-section .benefit-right .benefit-card h3 {
  margin: 3% 0%;
  text-align: center;
  font-size: 38px;
  color: var(--white);
}

.benefit-section .benefit-right .benefit-card p {
  max-width: 80%;
  text-align: center;
  color: var(--white);
  margin: 0px auto;
}

.benefit-section .benefit-right .benefit-card img {
  width: 20%;
}

.benefit-section .benefit-right .benefit-control-button {
  margin-top: 5%;
  font-family: 'Poppins';
  color: white;
  min-width: 60px;
  min-height: 60px;
  font-size: 24px;
  background-color: var(--pale-sky-blue);
  border-radius: 50%;
  border: 5px solid white;
}

.benefit-section .benefit-right .benefit-card-pagination .far {
  margin: 5% 1% 3% 0%;
  font-size: 42px;
  color: #f9f9f9;
}

/*<-----------------Start Section starts here----------------->*/

.start-section {
  height: 100%;
  padding-top: 12px;
  background: linear-gradient(#92c8ff, rgba(196, 196, 196, 0.2));
}

.start-section .start-flex {
  display: flex;
  align-items: center;
}

.start-section .container {
  padding-top: 180px;
  padding-bottom: 90px;
}

.start-section .start-left {
  max-width: 50%;
}

.start-section .start-right {
  max-width: 55%;
}

.start-section .start-left h3 {
  margin-bottom: 30px;
  font-size: 54px;
  color: var(--white);
  filter: drop-shadow(0px 5px 0px #528fcc);
}

.start-section .start-left button {
  display: block;
  width: 400px;
  height: 200px;
  border: 0px;
  border-radius: 20px;
  margin: 0px 0px 30px 0px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  line-height: 115%;
  letter-spacing: 0.01em;
  filter: drop-shadow(0px 10px 0px #373031);
}

.start-section .start-left .start-run {
  background-color: var(--yellowish-orange);
  border: 5px solid var(--yellowish-orange);
  padding: 10% 8%;
}

.start-section .start-left .start-calories {
  display: flex;
  align-items: center;
  background-color: var(--sky-blue);
  border: 5px solid var(--sky-blue);
  padding: 8%;
}

.start-section .start-right img {
  width: 110%;
}

/*<-----------------Run-App starts here----------------->*/

.run-app {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}

.run-app-wrap {
  height: 100%;
  padding-bottom: 30px;
}

.run-app .run-app-header {
  padding: 0px 0px 25px 0px;
  justify-content: space-between;
  align-items: center;
}
.run-app .run-app-flex {
  display: flex;
}

.run-app .stroke {
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
}

.run-app .app-body-flex {
  display: flex;
}

.run-app .run-app-header h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--greenish-dark);
}

.run-app .run-app-header p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--greenish-dark);
}

.run-app .run-app-body {
  padding-top: 25px;
}

.run-app .run-app-body h5 {
  letter-spacing: 0.02em;
  padding-bottom: 16px;
  color: var(--greenish-dark);
}

.run-app .run-app-body p {
  font-family: 'Poppins';
}

.run-app .map-section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin-right: 5%;
}

.run-app #mapID {
  width: 500px;
  height: 900px;
  border-radius: 15px;
  background-color: var(--sky-blue);
  filter: drop-shadow(0px 0px 8px rgba(00, 00, 00, 0.25));
}

.run-app .run-app-left .map-section button {
  position: absolute;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  border: 0px;
  margin: 50px;
  filter: drop-shadow(0px 0px 10px rgba(00, 00, 00, 0.4));
}

.hidden {
  display: none;
}

.run-app .run-app-left .map-section .run-start {
  background-color: var(--redish-red);
}
.run-app .run-app-left .map-section .run-end {
  color: var(--pale-black);
  background-color: #ffd900;
}

.run-app .run-app-body .run-app-right {
  height: 900px;
  width: 100%;
}

.run-app .run-app-record {
  position: relative;
}

.run-card {
  background-color: #ffffff;
  padding: 20px 60px 20px 110px;
  margin-bottom: 5%;
  border-radius: 15px;
  position: relative;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
}

.run-card .color-header {
  width: 70px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  background-color: #528fcc;
  position: absolute;
  left: 0px;
  top: 0px;
}

.run-app .run-app-body .run-app-right .run-date {
  font-size: 28px;
  font-weight: 600;
  color: black;
  margin-bottom: 2%;
}

.run-app .run-app-body .run-app-right .run-location {
  font-size: 24px;
  font-weight: 500;
  color: black;
  margin: 12px 0px;
}

.run-app .run-app-body .run-app-right .run-data p {
  font-size: 24px;
  font-weight: 700;
  line-height: 155%;
  color: black;
}

.run-app .run-app-body .run-app-right .run-data span {
  font-size: 18px;
  font-weight: 700;
  line-height: 155%;
  color: #3d3d3d;
}

.run-data {
  display: flex;
  justify-content: space-between;
}

.run-app-right .pagination {
  display: flex;
  position: absolute;
  right: 0px;
}

.run-app-right .arrow-box {
  width: 32px;
  height: 32px;
  margin: 0px 0px 0px 15px;
  background-color: #528fcc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.run-app-right .arrow-box img {
  width: 50%;
}

.timer {
  background-color: white;
  padding: 25px 30px;
  margin-bottom: 5%;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.1));
}

.timer .timer-count {
  font-family: 'Poppins';
  text-align: center;
  font-size: 84px;
  font-weight: 600;
  line-height: 155%;
}

div.leaflet-top.leaflet-right {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}

/*<-----------------Footer Section starts here----------------->*/

.footer-section {
  background-color: var(--greenish-dark);
  padding: 5%;
}

.footer-section .disclaimer {
  color: var(--white);
  text-align: center;
}

/*<-----------------Website Animation Starts Here----------------->*/

.navbar .nav-link:hover {
  background-color: rgba(216, 118, 140, 0.9);
  border-radius: 8px;
  transition-duration: 0.3s;
}

.navbar .cta-link:hover {
  background-color: white;
  color: var(--redish-red);
  transition-duration: 0.3s;
}

.hero-section .hero-left button:hover {
  margin-left: 8px;
  background-color: #ffffff;
  color: var(--yellowish-orange);
  filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 1));
  transition-duration: 0.3s;
}

.start-section .start-left .start-run:hover {
  margin-left: 8px;
  color: var(--yellowish-orange);
  background-color: #f9f9f9;
  filter: drop-shadow(10px 10px 0px #373031);
  transition-duration: 0.3s;
}

.start-section .start-left .start-calories:hover {
  margin-left: 8px;
  color: var(--sky-blue);
  background-color: #f9f9f9;
  filter: drop-shadow(10px 10px 0px #373031);
  transition-duration: 0.3s;
}

/*<-----------------1200px Media Queries starts here----------------->*/

@media screen and (max-width: 1200px) {
  body .background {
    transform: scale(0.9);
    top: -2.5%;
    right: -6%;
  }

  .navbar a {
    font-size: 18px;
  }

  .hero-section .container {
    padding-bottom: 0px;
  }

  .hero-section .hero-left {
    max-width: 50%;
  }

  .hero-section .hero-left h1 {
    font-size: 54px;
  }

  .hero-section .hero-left p {
    font-size: 16px;
  }

  .hero-section .hero-left .cta {
    font-size: 21px;
  }

  .benefit-section .benefit-right .benefit-card {
    min-width: 400px;
    min-height: 400px;
    padding: 8% 4%;
    border-radius: 80px;
  }

  .benefit-section .benefit-right .benefit-card h3 {
    font-size: 32px;
  }

  .run-app #mapID {
    width: 400px;
  }

  .run-app .timer .timer-count {
    font-size: 60px;
  }

  .run-app .run-card {
    padding: 15px 40px 15px 80px;
  }

  .run-card .color-header {
    width: 50px;
  }

  .run-app .run-app-body .run-app-right .run-date {
    font-size: 21px;
  }

  .run-app .run-app-body .run-app-right .run-data p {
    font-size: 21px;
  }

  .run-app .run-app-body .run-app-right .run-data span {
    font-size: 15px;
  }
}

/*<-----------------1024px Media Queries starts here----------------->*/

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 42px;
  }

  body .background {
    position: absolute;
    top: -3%;
    right: -10.5%;
    transform: scale(0.8);
  }

  .navbar .logo {
    font-size: 36px;
  }

  .navbar a {
    font-size: 14px;
  }

  .hero-section .container {
    padding-bottom: 90px;
  }

  .hero-section .hero-left {
    width: 90%;
  }

  .hero-section .hero-left h1 {
    font-size: 40px;
  }

  .feature-section .container {
    margin-bottom: 120px;
  }

  .feature-section .container h2 {
    margin: 90px 0px 70px 0px;
    max-width: 90%;
  }

  .feature-section .container p {
    font-size: 15px;
  }

  .benefit-section .benefit-right .benefit-card {
    min-width: 300px;
    min-height: 300px;
    padding: 8% 4%;
    border-radius: 60px;
  }

  .benefit-section .benefit-right .benefit-card h3 {
    font-size: 24px;
  }

  .benefit-section .benefit-right .benefit-card p {
    max-width: 90%;
  }

  .start-section .container {
    padding-top: 120px;
  }

  .start-section .start-left button {
    font-size: 32px;
  }

  .start-section .start-left h3 {
    font-size: 42px;
  }

  .start-section .start-left button {
    width: 300px;
    height: 150px;
  }

  .run-app .run-app-header h3 {
    font-size: 32px;
  }

  .run-app .run-app-header p {
    font-size: 21px;
  }

  .run-app .app-body-flex {
    flex-flow: column;
  }

  .run-app .map-section {
    margin-right: 0px;
  }

  .run-app #mapID {
    width: 100%;
    height: 600px;
  }

  .run-app .run-app-time {
    padding-top: 5%;
  }

  .run-app .run-data {
    display: flex;
    justify-content: left;
  }

  .run-app .run-data-item {
    margin-right: 2%;
  }
}

/*<----------------768px Media Queries starts here----------------->*/

@media screen and (max-width: 768px) {
  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  .background-colour {
    background-color: rgba(146, 200, 255, 0.7);
  }

  body .background {
    display: none;
  }

  .navbar .navbar-flex {
    flex-direction: column;
  }

  .navbar .logo {
    font-size: 48px;
  }

  .navbar .toggle-button {
    top: 60%;
    right: 8%;
    display: flex;
  }

  .navbar .nav-links {
    flex-direction: column;
    width: 100%;
    margin: 10% 0%;
    display: none;
  }

  .navbar li {
    text-align: center;
    width: 100%;
    margin: 3% 0%;
  }

  .navbar a {
    padding: 0px;
    font-size: 18px;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .hero-section .container {
    padding-bottom: 90px;
  }

  .hero-section .hero-left {
    max-width: 100%;
  }

  .hero-section .hero-left h1 {
    font-size: 42px;
    margin-top: 10%;
  }

  .hero-section .hero-right img {
    display: none;
  }

  .benefit-section {
    padding-top: 60px;
  }

  .benefit-section h2 {
    max-width: 100%;
    margin-top: 5%;
  }

  .benefit-section .benefit-right {
    max-width: 100%;
    margin-left: 0%;
  }

  .benefit-section .benefit-left img {
    display: none;
  }

  .benefit-section .benefit-right .benefit-card {
    filter: drop-shadow(12px 12px 0px #4071a1);
  }

  .start-section .start-right img {
    display: none;
  }

  .start-section .start-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .start-section .start-flex {
    justify-content: center;
  }

  .start-section .container {
    padding-top: 60px;
  }

  .start-section .container {
    padding-top: 60px;
  }

  .run-app .run-app-flex {
    flex-direction: column;
  }

  .run-app .run-app-header p {
    margin-top: 3%;
  }
}

/*<-----------------480px Media Queries starts here----------------->*/

@media screen and (max-width: 480px) {
  h2 {
    font-size: 32px;
  }

  body .background {
    display: none;
    position: absolute;
    top: -6%;
    right: -50%;
    transform: scale(0.6);
  }

  .navbar .toggle-button {
    width: 40px;
    height: 20px;
    top: 70%;
    right: 8%;
  }

  .navbar .toggle-button .bar {
    height: 3px;
    border-radius: 3px;
  }

  .hero-section .hero-left {
    max-width: 100%;
    width: 100%;
  }

  .hero-section .hero-left h1 {
    font-size: 42px;
    margin-top: 10%;
  }

  .hero-section .hero-left p {
    font-size: 17px;
    margin: 8% 0%;
  }

  .feature-section .container h2 {
    margin: 40px 0px 30px 0px;
    max-width: 90%;
  }

  .feature-section .container .feature-flex {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5%;
  }

  .feature-section .container .feature-img {
    max-width: 100%;
    margin-bottom: 5%;
  }

  .feature-section .container {
    margin-bottom: 90px;
  }

  .run-app .run-app-header h3 {
    font-size: 21px;
    margin-bottom: 5%;
  }

  .run-app .run-app-header p {
    font-size: 18px;
  }

  .run-app .timer .timer-count {
    font-size: 48px;
  }

  .run-app .run-card {
    border-radius: 10px;
    padding: 15px 5px 15px 45px;
  }

  .run-app .run-card .color-header {
    width: 30px;
  }

  .run-app .run-app-body .run-app-right .run-date {
    font-size: 15px;
  }

  .run-app .run-app-body .run-app-right .run-data p {
    font-size: 12px;
  }
  .run-app .run-app-body .run-app-right .run-data span {
    font-size: 10px;
  }
}
